Repository snease/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @svuckovicTT, @mtopalovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @nobradovictt, @rjakovljevicTT, @odjuricicTT, @vprajapati-tt, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
*.md @nsmithtt
/docs/ @nsmithtt
/env/ @nsmithtt
/.github/ @vmilosevic @tapspatel
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @rjakovljevicTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @nobradovictt @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @nobradovictt @odjuricicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @rjakovljevicTT
/lib/Dialect/TTMetal/ @nsmithtt
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @nobradovictt @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @nobradovictt
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @nobradovictt @odjuricicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @nobradovictt @odjuricicTT
/test/unittests/Optimizer @nobradovictt @odjuricicTT
/tools/ @svuckovicTT @mtopalovicTT
/tools/explorer/ @odjuricicTT @nobradovictt @vprajapati-tt

WIP: constant folder for math ops
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/Utils/TransformUtils.cpp
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @nobradovictt, @jserbedzijaTT, @azecevicTT, @jnie-TT

Fix bugs and add more tests
  include/ttmlir/Dialect/TTNN/Transforms/Workarounds/Decomposition/ReduceOpsRewritePattern.h
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/Transforms/Workarounds/Decomposition/ReduceOpsRewritePattern.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/reduce_add_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/reduce_maximum_op.mlir
  test/ttmlir/Dialect/TTIR/reduce_ops/negative_invalid_dim_high.mlir
  test/ttmlir/Dialect/TTIR/reduce_ops/negative_invalid_dim_low.mlir
  test/ttmlir/Dialect/TTIR/reduce_ops/negative_repeating_dims.mlir
  test/ttmlir/Silicon/StableHLO/reduce_add_op.mlir
  test/ttmlir/Silicon/StableHLO/reduce_maximum_op.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @nobradovictt, @jserbedzijaTT, @azecevicTT, @nsmithtt, @mrakitaTT, @jnie-TT

Uplift third_party/tt-metal to 51bedc860fc870c178ccf69dc7a79f8d6ab266ba 2024-12-18
  third_party/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Changing layout workaround pass to apply workarounds locally on the operation without spreading their effects to the whole module.
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNWorkarounds.h
  include/ttmlir/Dialect/TTNN/Pipelines/TTNNPipelines.h
  include/ttmlir/Dialect/TTNN/Transforms/Passes.td
  include/ttmlir/Dialect/TTNN/Utils/TransformUtils.h
  include/ttmlir/Dialect/TTNN/Utils/Utils.h
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTNN/IR/TTNNWorkarounds.cpp
  lib/Dialect/TTNN/Transforms/TTNNWorkarounds.cpp
  lib/Dialect/TTNN/Utils/TransformUtils.cpp
  lib/Dialect/TTNN/Utils/Utils.cpp
  test/ttmlir/Dialect/TTNN/Transforms/Workarounds/max_pool2d_workaround.mlir
  test/ttmlir/Dialect/TTNN/Transforms/Workarounds/simple_workaround.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @nobradovictt, @jserbedzijaTT, @azecevicTT, @jnie-TT

Lower TTIR broadcast to TTNN repeat op.
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Dialect/TTIR/Transforms/Broadcast.cpp
  lib/Dialect/TTIR/Transforms/CMakeLists.txt
  lib/Dialect/TTNN/Pipelines/TTNNPipelines.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/CMakeLists.txt
  runtime/lib/ttnn/operations/data_movement/repeat.cpp
  runtime/lib/ttnn/operations/data_movement/repeat.h
  test/ttmlir/Dialect/TTNN/broadcast_variations.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @nobradovictt, @jserbedzijaTT, @azecevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Convert shape to correct format.
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/lib/ttnn/operations/data_movement/repeat.cpp
  test/ttmlir/Dialect/TTNN/broadcast_variations.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @nobradovictt, @jserbedzijaTT, @azecevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Correct core ranges for 2d mm
  lib/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.cpp
Owners: none

Change to 5 kernel static for 2dmm and add compute block w/ cbs
  include/ttmlir/Conversion/TTIRToTTMetal/TTIRToTTMetal.h
  lib/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.cpp
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
Owners: none

Add v0 matmul constraints
  lib/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.cpp
Owners: none

Change to Mamtul Rewriter, gen core ranges and dispatch based on output grid
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.cpp
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  test/ttmlir/Silicon/TTMetal/simple_matmul.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @nobradovictt, @jserbedzijaTT, @azecevicTT

Bootstrap D2M Matmul
  include/ttmlir/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.h
  lib/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.cpp
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
Owners: none

Add kernel config generation, add tensix core range and in1 reader regions
  lib/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.cpp
Owners: none

Add generation for reader blocks w/ cbs
  lib/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.cpp
Owners: none

More Matmul Bootstrap
  include/ttmlir/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/TTIRToTTMetal/CMakeLists.txt
  lib/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.cpp
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  test/ttmlir/Silicon/TTMetal/simple_matmul.mlir
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @nobradovictt, @jserbedzijaTT, @azecevicTT

Add MM semaphores and other sandbox datamovement code
  lib/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.cpp
Owners: none

Support tt-metal semaphores
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsTypes.td
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  lib/Dialect/TTMetal/IR/TTMetalOps.cpp
  lib/Target/TTMetal/TTMetalToFlatbuffer.cpp
Owners: @nsmithtt, @rjakovljevicTT

Fix types
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
Owners: @nsmithtt, @rjakovljevicTT

Address comments
  lib/Dialect/TTMetal/IR/TTMetalOps.cpp
Owners: @nsmithtt

Add reader kernel gen (wip)
  lib/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.cpp
Owners: none

Add get_noc_adr and get_read/write_ptr ops to ttkernel
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
Owners: @nsmithtt, @rjakovljevicTT

Update test to target example
  test/ttmlir/Silicon/TTMetal/simple_matmul.mlir
Owners: none

Cleanup
  lib/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.cpp
Owners: none

Add mcasting to in0 sender
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  lib/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.cpp
Owners: @nsmithtt, @rjakovljevicTT

add compute and other address type hacks
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  lib/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.cpp
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetalPass.cpp
Owners: @nsmithtt, @rjakovljevicTT

transpose mcast for senders + add receiver kernel gen
  lib/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.cpp
Owners: none

Add reader kernel transpose for in1
  lib/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.cpp
Owners: none

Add physical/logical coord mapping encoding
  include/ttmlir/Dialect/TT/Utils/PhysicalCoreCoord.h
Owners: @sdjordjevicTT, @nsmithtt, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @nobradovictt, @jserbedzijaTT, @azecevicTT

fix me: change address types to plain integers
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
Owners: @nsmithtt, @rjakovljevicTT

Add MMArgs rtargs + independent cb allocation
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsTypes.td
  include/ttmlir/Target/TTMetal/program.fbs
  lib/Dialect/TTMetal/IR/TTMetalOps.cpp
  lib/Target/TTMetal/TTMetalToFlatbuffer.cpp
  runtime/lib/ttmetal/command_queue.cpp
Owners: @nsmithtt, @rjakovljevicTT, @tapspatel, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Remove boilerplate + add v0 matmul pattern match changes
  lib/Conversion/TTIRToTTMetal/TTIRMatmulToTTMetal.cpp
Owners: none

Add dprint and compute kernel imports
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
Owners: none

Update test + add runtime changes to test w pytorch (remove when rebasing with golden)
  runtime/tools/python/ttrt/common/util.py
  test/ttmlir/Silicon/TTMetal/simple_matmul.mlir
Owners: @tapspatel, @nsmithtt

#341: Added support for step debugger and memory dumps after each op invocation
  runtime/include/tt/runtime/detail/ttmetal.h
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/include/tt/runtime/runtime.h
  runtime/lib/runtime.cpp
  runtime/lib/ttmetal/runtime.cpp
  runtime/lib/ttnn/runtime.cpp
  runtime/tools/python/ttrt/common/callback.py
  runtime/tools/python/ttrt/common/golden.py
  runtime/tools/python/ttrt/common/perf.py
  runtime/tools/python/ttrt/common/run.py
  runtime/tools/python/ttrt/runtime/module.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel, @nsmithtt

Add TTNN transform to ensure hoisted ops have operands moved to/from CPU properly
  env/CMakeLists.txt
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTNN/Transforms/Passes.cpp
  lib/Dialect/TTNN/Transforms/TTNNLayout.cpp
Owners: @nsmithtt, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @nobradovictt, @jserbedzijaTT, @azecevicTT, @jnie-TT
